* {
    box-sizing: border-box;
}
body{
    padding: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    font-family: 'Bona Nova', serif;
}

#mainContainerImagesAndDesc{
    display: block;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(#254785,#875478);
   
}

#displayList{
    display: none;
    margin-bottom: 30px;
}

#mainContainerList{
    display:none; 
    list-style: none;
    border: 5px solid steelblue;
    border-radius: 12px;
    background-image: linear-gradient(#875478,#254785);
    color: white; 
    font-size: 20px;

}

#mainContainerList li{
    margin: 10px;
    width: 100%;
    animation: fadeIn 1s linear;
    animation-fill-mode: both;
}
.medium{
    height: 300px;
    width: 30%;
    display: inline-block;
    padding: 30px;
    margin: 5px;
    border: 5px solid steelblue;
    border-radius: 12px;

}

.medium:hover{
    animation-name: imgScale;
    animation-duration: 900ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    perspective: 200px;
    padding: 0;
    border: none;
}


#mainContainerImages{
    margin-bottom: 90px;
}


a{
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: white;
    background-color:#875478 ;
    border-radius: 4px;
    transition-property: background-color,border-radius,font-size,box-shadow;
    transition-timing-function: ease-in;
    transition-duration: 1s;

}

a:hover{

    color: white;
    background-color:#254785 ;
    border-radius: 8px;
    font-size: 120%;
    box-shadow: 0 10px 10px black;


}

header{
    text-align: center;
    background-image: linear-gradient(rgba(135, 84, 120, 0.219),rgba(37, 71, 133, 0.075)),url(https://i.pinimg.com/originals/10/cf/c0/10cfc0d58b97ed9d0501d5912802ac41.gif);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    font-size: 64px;
    font-weight: 600;
    height: 95vh;

    color: white;
}

#mainContainerImagesAndDesc p{
    color: white;
    padding: 10px;
    font-size: 20px;
}

#myChart{
    background-color: white;
    display: none;
}

@keyframes imgScale {

    0%{
transform: scale(1.05) rotateX(20deg);
opacity: 1;

    }

    50%{
        transform: scale(1.09) rotateX(40deg);
        opacity: 0.7;      
    }

    100%{
        transform: scale(1.1) rotateX(50deg) ;
        opacity:0.5;      
    }
    
}


@keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  
